<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Online Shop | accessories</title>
</head>
<body>
    <header class='header'>
        <div class='container'>

            <nav class='header_nav nav'>
                <a href="/" class='header_logo'>
                    <img src='https://upload.wikimedia.org/wikipedia/commons/1/13/5element_logo.svg' />
                </a>

                <div class='nav-search'>
                    <div class='header_catalog'>
                        <img class="catalog-img" src="/catalog.png" alt="">
                        <p>Каталог</p>
                    </div>

                    <div class='header_search'>
                        <input placeholder='Поиск товаров' />
                        <div class='search-icon-wrap'>
                            <img class="search-icon" src="/search-interface-symbol.png" alt="">
                        </div>
                    </div>
                </div>
            </nav>

            <ul class='header_list list'>
                <li class='header_item list-icon-comparison'>
                    <a href="/support">
                        <img src="/question.png" alt="">
                    </a>
                </li>
                <li class='header_item list-icon-cart'>
                    <a href="/cart">
                        <img src="/shopping-cart.png" alt="">
                    </a>
                </li>
                <li class='header_item list-icon-user'>
                    <a href="/user">
                        <img src="/user.png" alt="">
                    </a>
                </li>
            </ul>
        </div>

    </header>

    <div class="container catalog_container hide">
        <section class="catalog">
             <div class="catalog_backgroung">
                <ul class="catalog_list">
                    <li class="catalog_item">
                        <a href="/phones">Смартфоны</a>
                    </li>
                    <li class="catalog_item">
                        <a href="/watches">Умные часы</a>
                    </li>
                    <li class="catalog_item">
                        <a href="/tabs">Планшеты</a>
                    </li>
                    <li class="catalog_item">
                        <a href="/headphonesForm">Наушники</a>
                    </li>
                    <li class="catalog_item">
                        <a href="/accessoriesForm">Акксессуары для телефонов</a>
                    </li>
                </ul>
             </div>
        </section>
    </div>

    <section class="accessories">
        <div class="container">
            <ul class="accessories_list">
                <li class="accessories_item">
                    <a href="/powerBank" class="category_card">
                        <img id="all" width="150px" height="150px" src="https://c.dns-shop.ru/thumb/st1/fit/220/150/2b0484423a681db3f55ddaa203e007c6/d5c83edd3c860b061fc27f00fb41941fde3e3eda52a5c924c5d22576b9eeb5af.jpg" alt="">
                        <label for="all">Портативные аккамуляторы</label>
                    </a>
                </li>
                <li class="accessories_item">
                    <a href="/charge" class="category_card">
                        <img id="invoices" src="https://c.dns-shop.ru/thumb/st4/fit/220/150/fda73ac4cd895fdf28c8e25642c14bac/9db770f0f3684764073ed8f550982c9b6b27d98127d697efecde16beb17d9fa1.jpg" alt="">
                        <label for="invoices">Сетевые и зарядные устройства</label>
                    </a>
                </li>
                <li class="accessories_item">
                    <a href="/chargeCable" class="category_card">
                        <img id="wireless" src="https://c.dns-shop.ru/thumb/st1/fit/220/150/ea8f27217d9cb91936d0f17dc3605227/81c50583c53cadce7b07c52eeac3c3929576714ce61951910af2bdd5d79aee59.jpg" alt="">
                        <label for="wireless">Кабели для мобильных устройств</label>
                    </a>
                </li>
                <li class="accessories_item">
                    <a href="/adapter" class="category_card">
                        <img id="wired" src="https://c.dns-shop.ru/thumb/st1/fit/220/150/378c5071c9057ec465a2e974eedd2e25/8f14dcdde92032cde2bac6bd684e32905c5fc71c8060182badf86a47c0535585.jpg" alt="">
                        <label for="wired">Переходники для мобильных устройств</label>
                    </a>
                </li>
                <li class="accessories_item">
                    <a href="/wirelessCharger" class="category_card">
                        <img id="wired" src="https://c.dns-shop.ru/thumb/st1/fit/220/150/7c20407517bf1aa7cbae8e9e9825bd7d/3c88b00ce3991ac52dc9259ed228c7b04f3059e54e7108f44d656086d06acffd.jpg" alt="">
                        <label for="wired">Беспроводные зарядные устройств</label>
                    </a>
                </li>
            </ul>
        </div>
    </section>
        

    <script src="/showMore.js"></script>
    <script src="/script.js"></script>
</body>
</html>